<ion-card *ngIf="OrderPaymentDetail?.amount">
    <ion-list>
        <ion-item>
            <p item-start>Amount</p>
            <p item-end>{{OrderPaymentDetail?.amount | currency}}</p>
        </ion-item>
        <ion-item>
            <p item-start>Amount Paid</p>
            <p item-end>{{OrderPaymentDetail?.amount_paid | currency}}</p>
        </ion-item>
        <ion-item>
            <p item-start>Discount</p>
            <p item-end>{{calculateDiscount () | currency}}</p>
        </ion-item>
        <ion-item>
            <p item-start>Payment mode</p>
            <p item-end text-capitalize>{{OrderPaymentDetail?.payment_mode}}</p>
        </ion-item>
        <ion-item>
            <p item-start>Payment date</p>
            <p item-end>{{OrderPaymentDetail?.created_at * 1000 | date}}</p>
        </ion-item>
    </ion-list>
</ion-card>
<ion-card *ngIf="!OrderPaymentDetail?.amount" padding text-center text-uppercase text-wrap>
    <h1>Payment can be process after order's completion.</h1>
</ion-card>