page-login {
    .project-title {
        color: #FFF;
        padding: 5vh;
        font-size: 8vh;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }

    .bg-voilet {
        background-color: #28245A;
    }

    ion-content { 
        color: #28245A; 
        background-color: #E6E6FA;
    }

    .mt-5 { margin-top: 5vh; }
    .mt-3 { margin-top: 3vh; }

    .fs-3 { font-size: 3vh; }
    .fs-2 { font-size: 2.5vh; }

    .text-button {
        font-size: 2vh;
        font-weight: 100;
        padding: 1vh 4vh !important;
    }
}
