<ion-content>
  <div text-capitalize text-center class="project-title bg-voilet">{{project_title}}</div>
  <div text-center class="mt-5 fs-3">{{page_title | uppercase}}</div>
  <div text-center class="mt-3 fs-2">Enter your login credentials below</div>

  <form [formGroup]="loginForm" >
    <ion-list text-center padding>
      <ion-item>
        <ion-input formControlName="username" type="text" placeholder="Email"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      </ion-item>  
    </ion-list>

    <ion-row>
      <ion-col padding> 
        <button (click)="register()" float-left padding-left ion-button large class="bg-voilet text-button">Register</button>
      </ion-col>
    
      <ion-col padding>
        <button [disabled]="!loginForm.valid" (click)="loginSubmit(loginForm)" float-right padding-right ion-button large class="bg-voilet text-button">Login</button>
      </ion-col>
    </ion-row>

    <div padding text-center class="fs-2">Forget password?</div>
  </form>

</ion-content>