<ion-content>
  <div text-capitalize text-center class="project-title bg-voilet">{{project_title}}</div>
  <div text-center class="mt-5 fs-3">{{page_title | uppercase}}</div>
  <div text-center class="mt-3 fs-2">Please fill the Registeration form</div>

  <form [formGroup]="registerForm">
    <ion-list text-center padding>
      <ion-item>
        <ion-input formControlName="username" type="text" placeholder="Email" required autocomplete="off" maxlength="255"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password" required autocomplete="off" maxlength="20"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="first_name" type="text" placeholder="First Name" autocomplete="off" maxlength="100"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="last_name" type="text" placeholder="Last Name" autocomplete="off" maxlength="100"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="phone" type="text" placeholder="Mobile Number" required autocomplete="off" maxlength="10"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col padding> 
        <button (click)="login()" float-left padding-left ion-button large class="bg-voilet text-button">Login?</button>
      </ion-col>
    
      <ion-col padding>
        <button [disabled]="!registerForm.valid" (click)="registerSubmit(registerForm)" float-right padding-right ion-button large class="bg-voilet text-button">Register</button>
      </ion-col>
    </ion-row>

    <div padding text-center class="fs-2">Forget password?</div>
  </form>

</ion-content>