page-home {
    .background {
        background-image: url(/assets/imgs/bg.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0.5;
        width: 100%;
        height: 70%;
        margin-top: 30%;
    }

    .project-title {
        font-size: 10vh;
        margin-top: -100%;
    }

    .project-sub-title {
        font-size: 5vh;
    }

    .title-text {
        color: #28245A;
        font-weight: bold;
    }
}
