<ion-content>
  <div class="background"></div>
  <div class="project-title title-text" text-capitalize text-center>{{project_title}}</div>
  <div class="project-sub-title title-text" text-uppercase text-center>{{project_sub_title}}</div>
</ion-content>
