<!--
  Generated template for the OrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="shokuni">
    <ion-title text-center>Order Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <!-- display order-id -->
  <ion-item text-center text-wrap text-uppercase class="text-lg">{{order_uuid | orderUuid}}</ion-item>

  <ion-item>
    <p item-start>Current Status</p>
    <p item-end class="text-lg" *ngIf="order_detail?.status" color="statusColor (order_detail.status)" text-capitalize>{{order_detail?.status}}</p>
  </ion-item>

  <ion-item *ngIf="order_detail?.status === 'waiting'">
    <!-- display on-chair clock  -->
    <p item-start>Waiting Time</p>
    <p item-end class="text-lg" color="statusColor (order_detail.status)" text-capitalize><timeAgo [ServerTimeStamp]="order_detail?.created_at"></timeAgo></p>
  </ion-item>

  <!-- display completed clock  -->
  <ion-item *ngIf="order_detail?.status === 'completed'">
    <p item-start>Service Time</p>
    <p item-end class="text-lg" color="statusColor (order_detail.status)" text-capitalize>{{ calculateServiceTime (order_detail.start_time, order_detail?.end_time) | timeAgo }}</p>
  </ion-item>

  <order-on-chair *ngIf="order_detail?.status === 'on-chair'" [ChairOrder]="order_detail"></order-on-chair>

  

  <ion-item *ngIf="order_detail?.status !== 'on-chair'">
    <ion-segment [(ngModel)]="detail">
      <ion-segment-button value="order-detail">
        Detail
      </ion-segment-button>
      <ion-segment-button value="order-payment">
        Payment
      </ion-segment-button>
      <ion-segment-button value="order-log">
        Log
      </ion-segment-button>
    </ion-segment>
    
    <!-- display detail of order -->
    <div [ngSwitch]="detail">
      <!-- display services belongs to selected order -->
      <order-detail-services *ngSwitchCase="'order-detail'" [OrderService]="order_detail"></order-detail-services>

      <!-- Display Payment information -->
      <ion-list *ngSwitchCase="'order-payment'">
        <order-detail-payment [OrderPaymentDetail]="order_detail?.payment"></order-detail-payment>
      </ion-list>
  
      <!-- display log information of order -->
      <ion-list *ngSwitchCase="'order-log'"></ion-list>
    </div>

  </ion-item>

  <!-- get order-action button by current status -->
  <ion-row *ngIf="order_detail?.status">
    <ion-col *ngFor="let btn of getOrderStatusBtn (order_detail.status)">
      <button ion-button full text-uppercase [color]="btn.color" (click)="updateBarberOrder(btn.click_status, btn.remark_required)">{{btn.name}}</button>
    </ion-col>
  </ion-row>
  
</ion-content>
