<ion-item *ngIf="ChairOrder?.status === 'on-chair'">
    <!-- display on-chair clock  -->
    <p item-start>Service Time</p>
    <p item-end class="text-lg" color="statusColor (ChairOrder.status)" text-capitalize><timeAgo [ServerTimeStamp]="ChairOrder?.start_time"></timeAgo></p>
</ion-item>

<!-- display clock in case of on-chair order -->
<ion-item *ngIf="ChairOrder?.status === 'on-chair'" text-center>
    <timer [timeInSeconds]="calculateRemainingServiceTime()" [autoStart]="true" [showControl]="false"></timer>
</ion-item>