<ion-header>
  <ion-navbar text-center hideBackButton color="shokuni">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>{{project_title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- display all waiting orders -->
  <div *ngIf="waiting_orders?.length > 0">
    <ion-card *ngFor="let barber_order of waiting_orders; let i = index;" [attr.data-index]="i">
      <ion-card-content (click)="getOrderDetail(barber_order.order_uuid)">
        <ion-row margin-bottom>
          <ion-col color="shokuni" text-capitalize>{{barber_order.status}}</ion-col>
          <ion-col *ngIf="barber_order?.status === 'waiting'" text-end padding-right><timeAgo [ServerTimeStamp]="barber_order.created_at"></timeAgo></ion-col>
          <ion-col *ngIf="barber_order?.status === 'on-chair'" text-end padding-right><timeAgo [ServerTimeStamp]="barber_order.start_time"></timeAgo></ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-left text-capitalize>
            {{getServiceName(barber_order.service, barber_order.extra_service)}}
          </ion-col>
          <ion-col text-center>
            {{calculateServiceCharge(barber_order.service, barber_order.extra_service) | currency }}
          </ion-col>
          <ion-col text-right>
            <ion-row text-end>{{barber_order.created_at + '000' | date: 'MMMM d,y'}} </ion-row>
            <ion-row text-end>{{barber_order.created_at + '000' | date: 'h:mm:ss a'}} </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>  
</ion-content>
