<ion-list>
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{OrderService?.customer?.profile?.avatar_url || 'assets/imgs/no-img.jpg'}}">
        </ion-avatar>
        <h2 text-capitalize>{{ OrderService?.customer?.profile?.first_name + ' ' +  OrderService?.customer?.profile?.last_name}}</h2>
        <p>{{OrderService?.created_at * 1000 | date: 'MMMM d,y h:mm a'}}</p>
      </ion-item>
        
      <ion-card-content padding>        
        <!-- display divider for main service -->
        <ion-item-divider text-center text-capitalize *ngIf="OrderService?.service">{{OrderService.service.service_type }}</ion-item-divider>
      
        <!-- display Service Name -->
        <ion-list *ngIf="OrderService?.service">
          <ion-item>
            <h2 text-left text-capitalize>{{OrderService.service.name}}</h2>
            <h2 item-end>{{OrderService.service.price | currency}}</h2>
          </ion-item>
        </ion-list>
  
        <!-- display divider for Extra service -->
        <ion-item-divider text-center text-capitalize *ngIf="OrderService?.extra_service">{{OrderService.extra_service[0].service_type }}</ion-item-divider>
        
        <!-- display Extra Service Name -->
        <ion-list *ngIf="OrderService?.extra_service">
          <ion-item *ngFor="let order of OrderService?.extra_service">
            <h2 text-left text-capitalize>{{order.name}}</h2>
            <h2 item-end>{{order.price | currency}}</h2>
          </ion-item>
        </ion-list>
  
        <ion-item-divider></ion-item-divider>
        
        <!-- display total charge for order -->
        <ion-item>
          <p item-start>Total</p>
          <p item-end>{{orderTotal() | currency}}</p>
        </ion-item>
  
      </ion-card-content>
    </ion-card>
  </ion-list>