<!--
  Generated template for the OrderPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="shokuni" hideBackButton text-center>
    <ion-title text-capitalize>payment</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- display order-id -->
  <ion-item text-center >{{order_uuid | orderUuid}}</ion-item>

  <ion-item>
    <p item-start>Current Status</p>
    <p item-end class="text-lg" *ngIf="order_detail?.status" color="secondary" text-capitalize>{{order_detail?.status}}</p>
  </ion-item>

  <!-- display completed clock  -->
  <ion-item *ngIf="order_detail?.status == 'completed'">
    <p item-start>Service Time</p>
    <p item-end class="text-lg" text-capitalize>{{ calculateServiceTime (order_detail?.start_time, order_detail?.end_time) | timeAgo }}</p>
  </ion-item>

  <!-- display amount paid for order -->
  <ion-card>    
    <ion-card-content padding>{{orderAmt | currency}}</ion-card-content>    
  </ion-card>

  <!-- ask for order discount and type to barber -->
  <ion-list>    
    <ion-item>
      <!-- checkbox as toggle button to set discount type -->
      <label class="switch">
        <input class="switch-input" (click)="doCheck($event)" [checked]="isChecked" type="checkbox" />
        <span class="switch-label" data-on="Percentage" data-off="Amount"></span> <span class="switch-handle"></span> 
      </label>
    </ion-item>

    <ion-item>
      <ion-label>Discount</ion-label>
      <ion-input type="text" [(ngModel)]="discount" (keyup)="calculateAmt()"></ion-input>
    </ion-item>
  </ion-list>
  
  <ion-col padding>
    <button (click)="paymentSubmit (paymentForm)" ion-button large >Payment Received in Cash</button>
  </ion-col>
</ion-content>
