page-order-payment {
    .switch {
        position: relative;
        display: block;
        // vertical-align: top;
        width: 29rem;
        height: 4rem;
        // padding: 0rem;
        // margin: 0 2rem 2rem 0;
        background: linear-gradient(to bottom, #eeeeee, #FFFFFF 3rem);
        background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 3rem);
        border-radius: 4rem;
        box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
        cursor: pointer;
      }
      .switch-input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
      .switch-label {
        position: relative;
        display: block;
        height: inherit;
        font-size: 2rem;
        text-transform: uppercase;
        background: #eceeef;
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
      }
      .switch-label:before, .switch-label:after {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
        margin-right: 2rem;
      }
      .switch-label:before {
        content: attr(data-off);
        right: 1rem;
        color: #aaaaaa;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
      }
      .switch-label:after {
        content: attr(data-on);
        left: 3rem;
        color: #FFFFFF;
        text-shadow: 0 1px rgba(0, 0, 0, 0.2);
        opacity: 0;
        margin-right: 2rem;
      }
      .switch-input:checked ~ .switch-label {
           background: #E1B42B;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
      }
      .switch-input:checked ~ .switch-label:before {
        opacity: 0;
      }
      .switch-input:checked ~ .switch-label:after {
        opacity: 1;
      }
      .switch-handle {
        position: absolute;
        top: 0;
        left: 0;
        width: 4rem;
        height: 4rem;
        background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
        background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
        border-radius: 100%;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      }
      .switch-handle:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        width: 12px;
        height: 12px;
        background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
        background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
        border-radius: 6px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
      }
      .switch-input:checked ~ .switch-handle {
        left: 25rem;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
      }
      /* Transition
          ========================== */
      .switch-label, .switch-handle {
        transition: All 0.7s ease;
        -webkit-transition: All 0.7s ease;
        -moz-transition: All 0.7s ease;
        -o-transition: All 0.7s ease;
      }
      
      /*--------- END --------*/
}
